* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    background: url('img.webp') no-repeat;
    background-size: cover;
    background-position: center;

}

.div1 {
    width: 420px;
    background-color: transparent;
    border: 2px solid #b19a9a;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px #fffefe;
    color: white;
    border-radius: 10px;
    padding: 30px 10px;
    
}

.div1 h1 {
    text-align: center;
    font-size: 30px;
    color: #d3c6c6;

}

.div1 .input-box {
    position: relative;
    width: 100px;
    height: 50px;
    margin: 30px 0;
    
}

.input-box input {
    width: 400%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid #d3c6c6;
    border-radius: 40px;
    font-size: 15px;
    color: #d3c6c6;
    padding-left: 15px;
}

.input-box input::placeholder {
    color:#d3c6c6 ;

}

.input-box i{
    position: absolute;
    left: 370%;
    top: 50%;
    font-size: 15px;
    transform: translateY(-50%)
    
    
}

.div1 .remember {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin: -15px 0 15px;
    
    
}

.remember label input{
    accent-color:  #d3c6c6;
    margin-right: 3px;
}

.remember a {
    color: #d3c6c6;
    padding-right: 7px;
    text-decoration: none;
}
.remember a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.div1 .btn{
    width: 100%;
    height: 5vh;
    border-radius: 40px;
    background-color: #d3c6c6;
    cursor: pointer;
    border: none;
    outline: none;
    color: rgb(68, 68, 68);
    font-weight: 600;
}